.popup__closed {
  position: absolute;
  border: none;
  background: transparent;
  top: -47px;
  right: -45px;
  cursor: pointer;
  opacity: 1;
}
.popup__closed:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.popup__closed:active, .popup__closed:focus {
  outline: none;
}
@media all and (max-width: 665px) {    
  .popup__closed {
    right: -30px;
  }
} 