.popup__submit-button {
  width: 100%;
  background: #000000;
  border-radius: 2px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__submit-button:hover {
  opacity: 0.8;
}
@media all and (max-width: 667px) {    
  .popup__submit-button {        
    margin-top: 10px;
  }
}