.header__logo {
  width: 142px;
  height: 33px;
  margin-left: 3px;
  margin-bottom: 41px;
}
@media all and (max-width: 660px) {    
  .header__logo {        
    width: 104px;
    height: 24px;
    margin-bottom: 32px;
  }
}