.popup__dialog {
  min-width: 430px;
  min-height: 330px;
  background: #FFFFFF;
  border-radius: 10px;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: border-box;
  position: relative;
}
@media all and (max-width: 630px) {    
  .popup__dialog {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
} 