.profile-info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
}
@media all and (max-width: 800px) {    
  .profile-info__title {        
    font-size: 27px;
    line-height: 56px;
    padding-bottom: 0;
  }
}