.profile-info__edit-button {
  margin-left: 17px;
  cursor: pointer;
  background: none;
  border: none;
  opacity: 1;
}
.profile-info__edit-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

}
@media all and (max-width: 665px) {    
  .profile-info__edit-button {
    margin-left: 0;
  }
}