@import url(./__container/profile-info__container.css);
@import url(./__avatar/profile-info__avatar.css);
@import url(./__content/profile-info__content.css);
@import url(./__title/profile-info__title.css);
@import url(./__subtitle/profile-info__subtitle.css);
@import url(./__edit-button/profile-info__edit-button.css);
@import url(./__add-button/profile-info__add-button.css);
.profile-info {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 51px;
  justify-content: space-between;
}
@media all and (max-width: 665px) {    
  .profile-info {        
    flex-direction: column;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 10px;
  }
}